<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @mentor.first_name %></h1>
    <p>
      Someone has requested a session with you!.
    </p>
  </body>
</html>
